<% include ../partials/header %>
<div class="row justify-content-center">
    <div class="col-md-12 text-center mb-4">
        <h1>
            Add new comment to
            <%= campground.name %>
        </h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <textarea class="form-control" type="text" name="comment[text]" placeholder="Write a comment for this campground..."
                    rows="5"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-large btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/campgrounds">Back to Campgrounds</a>
    </div>
</div>
<% include ../partials/footer %>