<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>YelpCamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-udHIRBY7G8ZUr7aO8wRn7wD4bsGGRLR5orCz1FV93MZ7232xhAdjDYEvqeZLx45b"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/landing.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javasript" async></script>
</head>

<body>
  <div class="container">
    <% if (error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
      <% error %>
    </div>
    <% } %>
    <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <% success %>
    </div>
    <% } %>
  </div>
  <div id="landing-header">
    <h1><span class="fa fa-clock-o ion-clock"></span> Welcome to YelpCamp</h1>
    <a href="/campgrounds" class="btn btn-lg btn-primary">
      View all campgrounds
    </a>
    <p>
      <form action="/campgrounds" method="GET" class="form-inline justify-content-center">
        <div class="form-group">
          <input type="text" name="search" placeholder="Campground Search" class="form-control mr-2" required>
          <input type="submit" value="Search" class="btn btn-primary">
        </div>
      </form>
    </p>
  </div>
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</body>

</html>