<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
        <form action="/reset/<%= token %>" method="post">
            <legend>Reset Password</legend>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" name="password" value="" placeholder="New Password" autofocus class="form-control" />
            </div>
            <div class="form-group">
                <label for="confrm">New Password</label>
                <input type="password" name="confirm" value="" placeholder="Confirm Password" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </form>
    </div>
</div>


<% include ./partials/footer %>