<% include ../partials/header %>
<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Edit
            <%=campground.name %>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" id="name" name="campground[name]" value="<%=campground.name%>">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control" type="number" id="price" name="campground[price]" value="<%=campground.price%>"
                    min="0.01" step="0.01">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" id="description" name="campground[description]" value="<%=campground.description%>">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>">
            </div>
            <div class="form-group">
                <button class="btn btn-large btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
</div>
<% include ../partials/footer %>