<% include ../partials/header %>

<header class="jumbotron mb-2">
  <div class="container">
    <h1><span class="tree icon"></span>Welcome to YelpCamp</h1>
    <p>These are our handpicked campgrounds from around the world</p>
    <p>
      <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new campground</a>
    </p>
    <p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="Campground Search" class="form-control" required>
          <input type="submit" value="Search" class="btn btn-primary ml-2">
        </div>
      </form>
    </p>
  </div>
</header>

<% if (noMatch) {%>
<div class="row text-center">
  <div class="col-12">
    <h3>No results matching the search keyword(s) were found. Please try again</h3>
  </div>
</div>
<% } else { %>
<% if (campgrounds.length < 1) { %>
<div class="col-md-9"></div>
<h3>There are no campgrounds at this time.</h3>
</div>
<% } else { %>
<div class="row mb-4">
  <div class="col-12 mt-1 mb-3">
    <h3>
      Our most popular campgrouds:
    </h3>
  </div>
  <% campgrounds.forEach(function(campground){ %>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-4 text-center">
    <div class="card">
      <img src="<%= campground.image.url %>" class="card-img-top" alt="<%= campground.name %>">
      <div class="card-body">
        <h5 class="card-title">
          <strong>
            <%= campground.name %></strong>
        </h5>
        <span class="fa fa-star <% if (campground.rating > 0.5) { %> checked <% } %>"></span>
        <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
        <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
        <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
        <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
        <strong>(<%= campground.reviews.length %>)</strong>
        <p class="card-text">
          <%= campground.description.substring(0, 50)  %>
        </p>
        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<% } %>
<% } %>
<% include ../partials/footer %>