<% include ../partials/header %> 

<h1>Notifications</h1>
<hr>
<% if (allNotifications.length === 0) { %>
	<h4>There are no past notifications yet.</h4>
	<% } else { %>
<ul>
	<% allNotifications.forEach(function(notification) { %>
	<li>
		<a href="/campgrounds/<%= notification.campgroundId %>">
			<%= notification.username %> created a new campground %>
		</a>
	</li>
	<% }); %>
</ul>
<% } %>

<% include ../partials/footer %> 