<% include ../partials/header %>
<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Edit Review</h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <form action="/campgrounds/<%= campground_id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
            <div class="form-group mb-0">
                <label for="rating">Leave a rating:</label>
                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                    <input type="radio" id="star5" name="review[rating]" value="5" <% if (review.rating===5) { %>
                    checked
                    <% } %> /><label for="star5" title="5 stars - Amazing"></label>
                    <input type="radio" id="star4" name="review[rating]" value="4" <% if (review.rating===4) { %>
                    checked
                    <% } %> /><label for="star4" title="4 stars - Very good"></label>
                    <input type="radio" id="star3" name="review[rating]" value="3" <% if (review.rating===3) { %>
                    checked
                    <% } %> /><label for="star3" title="3 stars - Average"></label>
                    <input type="radio" id="star2" name="review[rating]" value="2" <% if (review.rating===2) { %>
                    checked
                    <% } %> /><label for="star2" title="2 stars - Not good"></label>
                    <input type="radio" id="star1" name="review[rating]" value="1" <% if (review.rating===1) { %>
                    checked
                    <% } %> /><label for="star1" title="1 star - Very bad"></label>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" name="review[text]" rows="5"><%= review.text %></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Submit a Review</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground_id %>">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>