<% include ../partials/header %>
<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1 class="text-center">New Review:
            <%= campground.name %>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <form action="/campgrounds/<%= campground._id %>/reviews" method="POST">
            <div class="form-group">
                <label for="rating">Leave a rating:</label>
                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                    <input type="radio" id="star5" name="review[rating]" value="5" /><label for="star5" title="5 star"></label>
                    <input type="radio" id="star4" name="review[rating]" value="4" /><label for="star4" title="4 star"></label>
                    <input type="radio" id="star3" name="review[rating]" value="3" /><label for="star3" title="3 star"></label>
                    <input type="radio" id="star2" name="review[rating]" value="2" /><label for="star2" title="2 star"></label>
                    <input type="radio" id="star1" name="review[rating]" value="1" /><label for="star1" title="1 star"></label>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" name="review[text]" placeholder="Write a review for this campground..."
                    rows="5"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Submit a Review</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>