<% include ../partials/header %>

<div class="row">
  <div class="col-md-6 img">
    <img src="<%= user.avatar %>" alt="User Profile Image" class="img-rounded">
  </div>
  <div class="col-md-6 details">
    <blockquote>
      <h3>
        <%= user.username %>
      </h3>
      <h4>
        <%= user.firstName + " " + user.lastName%>
      </h4>
    </blockquote>
    <h5>
      <a href="mailto:<%= user.email %>">
        <%= user.email %></a><br><br>
      <span class="badge badge-primary  badge-pill">
        Followers:
        <%= user.followers.length %>
      </span> 
    </h5>
    <a href="/follow/<%= user.id %>"><button class="btn btn-primary mt-4">Follow <%= user.username %></button></a>
  </div>
  <div class="col-md-6 mt-3">
    <% if (campgrounds.length === 0){ %>
      <h3 id="profile">
        <%= user.username %> has not created any campgrounds yet.    
      </h3>
        <ul id="userCampgrounds">
      <% } else { %>
      <h3 id="profile">
        <%= user.username %>'s campgrounds:</h3>
      <ul id="userCampgrounds">
        <% campgrounds.forEach(function(campground){ %>
        <li>
          <a href="/campgrounds/<%= campground.id %>">
            <%= campground.name %></a>
        </li>
        <% }); %>
      </ul>
      <% } %>
  </div>
</div>




<% include ../partials/footer %>